* {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
  }

.content a i {
    color: transparent; 
    font-size: 1.5em;
    margin-top: 10px;
    margin-right: 10px;
    background-image: linear-gradient(to right top, #ffccf2, #ec9dec, #ca72ed, #954cf4, #0033ff);
    -webkit-background-clip: text;
    background-clip: text;
    animation-fill-mode: forwards;
}
  
section {
    padding: 50px;
}
  
#about, #portfolio, #contact {
    background: #f4f4f4;
}

#navbar .nav-link {
    color: white;
}

#navbar .navbar-brand {
    color: white ;
}

#navbar {
    padding: 0;
}

#navbar img{
    margin-left: 5px;
}

.navbar-brand:hover, .nav-link:hover{
    text-shadow: 0 0 10px rgba(255, 204, 242, 0.8), 
                 0 0 15px rgba(236, 157, 236, 0.7), 
                 0 0 20px rgba(202, 114, 237, 0.6),
                 0 0 25px rgba(149, 76, 244, 0.5),
                 0 0 30px rgba(0, 51, 255, 0.4);
}

.nav-link{
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    letter-spacing: 0.5px;
}

.nav-link:after{
    content: "";
    position: absolute;
    background-color: #ffccf2;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}


.nav-link:hover:after{
    width: 100%;
}

.content{
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%); 
}

.content h1{
    font-size: 6em;
    font-weight: 800;
    margin-bottom: 10px;
    background-image: linear-gradient(to right top, #ffccf2, #ec9dec, #ca72ed, #954cf4, #0033ff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(255, 204, 242, 0.6), 
                 0 0 15px rgba(236, 157, 236, 0.5), 
                 0 0 20px rgba(202, 114, 237, 0.4),
                 0 0 25px rgba(149, 76, 244, 0.3),
                 0 0 30px rgba(0, 51, 255, 0.2);
}

.content h2{
    font-size: 4.5em;
    font-weight:300;
    margin-bottom: 10px;
}
.content p{
    font-size: 1em;
}

.image {
    position: relative;
    width: 100%;
    height: 100vh;
}

.image img {
    position: absolute;
    right: 2%;
    top: 55%;
    width: 45%;
    height: auto;
    transform: translateY(-50%);
    animation: moveUpDown 3s ease-in-out infinite; 
}
.image img:hover {
    filter: drop-shadow(0 0 10px rgba(151, 125, 255, 0.6));
}

/* CSS Animation สำหรับขยับขึ้นลง */
@keyframes moveUpDown {
    0% {
        transform: translateY(-50%) translateY(0);
    }
    50% {
        transform: translateY(-50%) translateY(-30px);
    }
    100% {
        transform: translateY(-50%) translateY(0);
    }
}

section {
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: relative;
}

#home, #about{
    background-color: #181818;
    color: white;
}

#about{
    background-color: aquamarine;
}

#portfolio{
    background-color: #ff3c78;
}

#contact{
    background-color: aquamarine;
}


#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    width: 100%; 
    padding: 20px;
}

.top-content {
    display: flex;
    align-items: center; /* จัดให้อยู่กลางในแนวตั้ง */
    justify-content: center; /* จัดให้อยู่กลางในแนวนอน */
    gap: 20px; /* ระยะห่างระหว่างภาพและข้อความ */
}

.content-wrapper {
    display: flex;
    align-items: center; /* จัดให้อยู่กลางในแนวตั้ง */
    gap: 20px;
    border-radius: 30px;
    background-color: #954cf4;
}

.top-content img {
    width: 150px; /* ขนาดของภาพสามารถปรับได้ */
    height: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.text-content {
    max-width: 600px; /* กำหนดความกว้างสูงสุดของข้อความ */
}

.top-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.top-content p {
    font-size: 1.2em;
    line-height: 1.6;
}


.contacts {
    text-align: left;
    padding: 20px;
    border-radius: 30px;
    background-color: #ff3c78;
    width: max-content;
}


.language {
    grid-column: 1 / 2;
    text-align: left;
    padding: 20px;
    background-color: #ff3c78;
    border-radius: 30px;
}


.education, .activity {
    text-align: left;
    padding: 20px;
    background-color: #ff3c78;
}


.skill {
    grid-column: 1 / 3;
    text-align: center;
    padding: 20px;
    background-color: #ff3c78;
}

.progress {
    height: 20px;
    border-radius: 10px;
}

.progress-bar {
    border-radius: 10px;
}